{% macro card(data, type) %}
  <label
    class="card {{ 'card--'~type }} {{ data.isActive ? 'card--active' }}"
    id="card-{{ type }}-{{ data.id }}"
  >
    <span class="svg-icon" name="icon_{{ data.icon }}"></span>
    <span class="card__title">{{ data.title }}</span>
    {% if (data.label is defined) %}
      <span class="card__label">{{ data.label }}</span>
    {% endif %}
    <input
      type="checkbox"
      class="popup__checkbox"
      data-card-id="card-{{ type }}-{{ data.id }}"
    >
  </label>
{% endmacro %}
