{% macro card(data, type) %}
  <input
    type="checkbox"
    class="popup__checkbox"
    id="popup-checkbox-{{ type }}-{{ data.id }}"
    data-card-id="card-{{ type }}-{{ data.id }}"
  >
  <label
    class="card popup__container {{ 'card--'~type }} {{ data.isActive ? 'card--active' }}"
    for="popup-checkbox-{{ type }}-{{ data.id }}"
    id="card-{{ type }}-{{ data.id }}"
  >
    <span class="svg-icon" name="icon_{{ data.icon }}"></span>
    <span class="card__title">{{ data.title }}</span>
    {% if (data.label is defined) %}
      <span class="card__label">{{ data.label }}</span>
    {% endif %}
  </label>
  <label
    class="popup__fader"
    for="popup-checkbox-{{ type }}-{{ data.id }}" role="presentation"
  ></label>
{% endmacro %}
